@font-face {
  font-family: "Helvetica", sans-serif;
  src: url("../fonts/helvetica.woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica-Bold", sans-serif;
  src: url("../fonts/helvetica-bold.woff2");
  font-style: normal;
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #5c5c5e;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.section-title {
  font-weight: 400;
  text-transform: uppercase;
}

.section-title-gradient {
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-btn-wrapper {
  display: inline-block;
  padding: 1px;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
}

.link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
}

.link-btn span {
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  border-bottom: 1px solid #cacad6;
  padding: 20px 0;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.menu {
  display: flex;
  gap: 20px;
}

.logo {
  justify-self: end;
}

.basket {
  justify-self: end;
  position: relative;
}

.basket span {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
}

.welcome {
  min-height: calc(100vh - 90px);
  background: url("../images/welcome-bg.jpg") no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.welcome__title {
  font-size: 96px;
  padding-top: 16%;
  font-weight: 400;
}

.welcome__subtitle {
  font-size: 36px;
}

.welcome__text {
  font-size: 13px;
  margin-bottom: 40px;
}

.buy-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 1px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
}

.buy-btn__text {
  color: #f6f4f5;
  padding: 20px 110px;
}

.buy-btn__price {
  background: #f6f4f5;
  padding: 20px 106px;
  font-weight: 700;
}

.buy-btn__subtext {
  font-size: 13px;
}

/* FEATURES */
.features {
  padding: 100px 0;
}

.features__titles {
  display: flex;
  padding-bottom: 20px;
  gap: 20px;
}

.features__title {
  flex-basis: 300px;
}

.features__title-gradient {
  max-width: 330px;
}

.tabs {
  display: grid;
  grid-template-columns: 300px auto;
}

.tabs__btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tabs__btn {
  font-weight: 700;
}

.tabs__btn--active {
  color: #070707;
}

.tabs__content {
  position: relative;
}

.tabs__content-item {
  position: absolute;
  opacity: 0;
  display: grid;
  grid-template-columns: auto 280px;
  gap: 40px;
  transition: all 0.3s ease-in;
}

.tabs__content-item--active {
  opacity: 1;
}

.tabs__content-title {
  font-size: 24px;
  margin-bottom: 9px;
}

.tabs__content-text {
  margin-bottom: 15px;
}

.tabs__video {
  position: relative;
  max-width: 280px;
  height: 150px;
  background: url("../images/content-2.jpg") no-repeat center;
}

.tabs__play-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #f6f4f5;
  font-size: 13px;
}

/* GAMES */
.games__title-gradient {
  margin-bottom: 10px;
}

.games__text {
  margin-bottom: 30px;
}

.games__inner {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(4, 1fr);
}

.games__link-btn {
  padding: 16px 48px;
}

.games__item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #bc10d8;
}

.games__item-title {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 400;
  color: #070707;
}

.games__item-text {
  margin-bottom: 40px;
}

.games__item-link {
  margin-top: auto;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* OCULUS BUY */
.oculus-buy {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 150px 0 110px 0;
  overflow: hidden;
}

.oculus-buy__bg {
  position: absolute;
  top: 25px;
  font-size: 400px;
  line-height: 350px;
  font-weight: 700;
  z-index: -1;

  opacity: 0.1;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: line-text 6s linear infinite;
}

.oculus-buy__img {
  margin-bottom: 30px;
}

@keyframes line-text {
  from {
    transform: translate(115%);
    transform-origin: left center;
  }
  to {
    transform: translate(-115%);
    transform-origin: right center;
  }
}

/* EQUIPMENT */
.equipment {
  margin-bottom: 100px;
}

.equipment__inner {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.equipment__img {
  margin-bottom: 10px;
}

.equipment__item--first {
  grid-row: 1/-1;
}

/* PROMO */
.promo {
  position: relative;
  background: url("../images/promo-bg.jpg") no-repeat center;
  background-size: cover;
  max-width: 1200px;
  width: 100%;
  min-height: 500px;
  margin: 0 auto 100px auto;
}

.promo__text {
  color: #f6f4f5;
  text-align: center;
  text-shadow: 0px 4px 4px #bc10d8;
  font-size: 16px;
  max-width: 110px;
  margin: 0 auto;
  padding-top: 63px;
}

.promo__btn {
  position: absolute;
  bottom: 80px;
  left: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);

  color: #fff;
  font-weight: 700;
}

/* ACCESSORIES */
.accessories {
  margin-bottom: 100px;
}

.accessories__title-gradient {
  margin: 30px 0;
}

.accessories__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.accessories__item {
  display: flex;
  flex-direction: column;
  padding: 20px 18px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
    1;
}

.accessories__img {
  margin-bottom: 10px;
}

.accessories__title {
  flex: 1;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.2;
  font-size: 24px;
  color: #070707;
}

.accessories__text {
  margin-bottom: 40px;
  line-height: 1.2;
}

.accessories__price {
  margin-bottom: 20px;
  font-weight: 700;
  color: #070707;
}

.accessories__link-btn {
  padding: 5px 90px;
  width: 260px;
}
